:root {
	--action-bg: #13284c;
	--action-bg-hover: #27395c;
	--action-bg-disabled: #33486c;
	--action-text: #fff;
	--action-radius: 10px;
}

#root {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1rem;
	font-family: Arial, sans-serif;
}

body {
	margin: 0;
	background-color: #fff;
}



.disabled {
	background-color: var(--action-bg-disabled);
	opacity: 0.8;
	cursor: not-allowed;
}

select {
	font-size: 1rem;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 1rem;
	background-color: #f9f9f9;
	margin-top: 1rem;
	width: 10rem;
}
select>option {
	background-color: #eee;
	color: #000;
	border: 1px solid #111;
}